@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-slate-800;
  }

  html {
    @apply bg-[radial-gradient(ellipse_at_bottom_left,_var(--tw-gradient-stops))] from-slate-950 via-slate-900 to-[#0a3955];
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .navbar-mobile-header {
    @apply max-md:flex-row max-md:items-center max-md:justify-between max-md:mr-0;
  }
  .navbar-mobile-info-links {
    @apply max-md:gap-x-[18px] max-sm:text-xs max-md:mb-0 max-md:mt-0;
  }
  .navbar-mobile-tabs {
    @apply max-md:flex-row max-md:justify-between max-sm:text-sm;
  }

  .textHighlight {
    @apply text-red-300 font-normal
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
