@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .navbar-mobile-header {
    @apply max-md:flex-row max-md:items-center max-md:justify-between max-md:mr-0;
  }

  .navbar-mobile-info-links {
    @apply max-md:gap-x-[18px] max-sm:text-xs max-md:mb-0 max-md:mt-0;
  }

  .navbar-mobile-tabs {
    @apply max-md:flex-row max-md:justify-between max-sm:text-sm;
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
